<h1>
	Home Page!
</h1>

<img style="width: 30%;" src="https://i.pximg.net/img-original/img/2020/07/02/23/06/05/82711343_p0.jpg">

<div>
	<a href="/color-convert">Go To Color Convertion Page</a>
</div>

<div>
	<a href="/about">Go To About Page</a>
</div>
